<!DOCTYPE html>
<html>
    <head>
        <title>NICKLA'S COMMISSION!!</title>
        <link rel="stylesheet" href="/static/kanit_font.css">
        <link rel="stylesheet" href="/static/commission_intro.css">
        <link rel="stylesheet" href="/static/common.css">
    </head>
    <body>
        <div class="nav_bar">
            <!--CONTINUE TOMORROW-->
            <h3 class="kanit-bold">NICKLA'S COMMISSION</h3>
            <!--<input type="search" placeholder="Search here">-->
            <div id="cover_a_nav_bar">
                <img src="/static/assets/P_to.jpg" id="pfp">
                <a href="/login_google" id="is_login" class="kanit-medium username">Login</a>
                <div id="dropdown">
                    <button class="drop_down_child kanit-semibold">My Profile</button>
                    <button class="drop_down_child kanit-semibold" onclick="logout()">Logout</button>
                </div>
            </div>
        </div>
        
        <div id="top_box">
            <h1 class="kanit-extrabold">HIRE PLS</h1>
            <p class="kanit-medium">50% off</p>
        </div>

        <div class="card_container">

            <div class="card">
                <h3>Digital Drawing</h3>
                <img src="/static/assets/P_to.jpg" class="p_to">
                <p>30 THB</p>
                <button class="primary_button_style" onclick="login()">HIRE</button>
            </div>

            <div class="card">
                <h3>Chibi Drawing</h3>
                <img src="/static/assets/P_to.jpg" class="p_to">
                <p>50 THB</p>
                <button class="primary_button_style" onclick="login()">HIRE</button>
            </div>

            <div class="card">
                <h3>2D Animation</h3>
                <img src="/static/assets/P_to.jpg" class="p_to">
                <p>100 THB</p>
                <button class="primary_button_style" onclick="login()">HIRE</button>
            </div>

            <div class="card">
                <h3>Comm Website</h3>
                <img src="/static/assets/P_to.jpg" class="p_to">
                <p>300 THB</p>
                <button class="primary_button_style" onclick="login()">HIRE</button>
            </div>

            <div class="card">
                <h3>Temporary boyfriend</h3>
                <img src="/static/assets/P_to.jpg" class="p_to">
                <p>0 THB</p>
                <button class="primary_button_style" onclick="login()">HIRE😉</button>
            </div>

            <div class="card big">
                <h1 class="kanit-extrabold many_more">MANY<br>MORE</h1>
            </div>

        </div>
        <script src="/static/commission_intro.js"></script>
    </body>
    
</html>